html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

.center {
  text-align: center;
  width: 100%;
  margin: auto
}

h1 {
  background-color: #2F2FA2;
  color: white;
}

h2 {
  background-color: #F64C72;
  color: white;
}

h3 {
  background-color: #A9A9A9;
  color: white;
}

.button {
  background-color: white;
  border: 2px solid #2F2FA2;
  color: inherit;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #2F2FA2;
  color: white;
}

.button:active {
  background-color: #242582;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  color: #2F2FA2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  color: #0080FF;
  background-color: none;
}

.active {
  background-color: none;
}

input[type=text] {
  padding: 8px 16px;
  margin: 4px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 2px solid #555;
}


input[type=button], input[type=submit], input[type=reset] {
  padding: 5px 8px;
  background-color: white;
  color: inherit;
  margin: 4px 2px;
  cursor: pointer;
}


input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #2F2FA2;
  color: white;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
  background-color: #242582;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
