body {
  font-family: 'Helvetica', sans-serif;
}

.center {
  text-align: center;
  width: 90%;
  margin: auto
}

h1 {
  background-color: #2F2FA2;
  color: white;
}

h2 {
  background-color: #F64C72;
  color: white;
}

.button {
  background-color: white;
  border: 2px solid #2F2FA2;
  color: inherit;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #2F2FA2;
  color: white;
}

.button:active {
  background-color: #242582;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

nav {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  display: inline;
}

nav li a {
  display: inline-block;
  color: #4B0082;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: none;
}

.active {
  background-color: none;
}
